@model BBWebAPp.Models.Status
@using BBWebAPp.Models;
@{
    Layout = null;
    Person loggedInPerson = (Person)Session["LoggedInPerson"];
    Person person = ViewBag.Person;
    List<Status> statusList = ViewBag.StatusList;
    ProfilePic profilePic = ViewBag.ProfilePic;
    string strBase64Pro = Convert.ToBase64String(profilePic.Pic);

    CoverPic coverPic = ViewBag.CoverPic;
    string strBase64Cov = Convert.ToBase64String(coverPic.Pic);

    string found = ViewBag.Found;

    Dictionary<int?, int?> likeCountOfSatus = ViewBag.LikeCountOfStatus;
    string likeCount;
    List<Like> likedByPerson = ViewBag.LikesByPerson;
    string message = (string)TempData["message"];
    //List<Comment> CommentsOfStatus = ViewBag.CommentsOfStatus;
    List<Comment> CommentsOfStatus = (List<Comment>)TempData["CommentsOfStatus"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/style/style.css" rel="stylesheet" />
</head>
<body>
    <div id="wholeBody">
        @RenderPage("~/Views/Shared/_Header.cshtml")
        <div id="contentBody">
            <div id="profileImages">
                <div id="coverPic">
                    <a>
                        <img src="data:image/png;base64,@strBase64Cov" height="250px" width="100%" id="coverPictureImg" />
                        @if (loggedInPerson.Id == person.Id)
                        {
                            <button type="submit" id="changeCoverPic">Change Cover Pic</button>

                            <form method="POST" enctype="multipart/form-data" id="coverPicForm">
                                <input type="file" name="coverPic" id="file" value="" />
                                <input type="submit" value="Upload" />
                            </form>

                        }

                </div>
                <div id="profilePic">
                    <a>
                        <div id="profilePicImage">
                            <img src="data:image/png;base64,@strBase64Pro" height="200px" width="180px" id="profilePictureImg" />
                            <div />
                            <div id="profilepicButtons">
                                @if (loggedInPerson.Id == person.Id)
                                {

                                    <form method="POST" enctype="multipart/form-data" id="profilePicFrom">
                                        <input type="file" name="profilePic" id="file" />
                                        <input type="submit" value="Upload" />
                                    </form>
                                    <button type="submit" id="changeProfilePic">Change Profile Pic</button>
                                }
                            </div>
                    </a>
                </div>
            </div>

            <div id="checkFriend">
                <p>
                    <a href="/Profile/ShowProfile/@person.Id">@person.Name</a>
                    <a href="/PersonInfo/ShowInfo/@person.Id">Informations</a>
                    @if(loggedInPerson.Id == person.Id){
                    }
                    else if (found == "foundFriendRequest")
                    {
                        <input type="submit" value="Friend Request Sent" class="friendListForm" />
                        <form action="/Friends/CancelRequest" method="POST" class="friendListForm">
                            <input type="hidden" name="PersonId" value="@loggedInPerson.Id" />
                            <input type="hidden" name="FriendRequestId" value="@person.Id" />
                            <input type="hidden" name="link" value="@Request.Url.ToString()" />
                            <input type="submit" name="" value="Cancel Request">
                        </form>
                    }
                    else if (found == "foundFriendResponse")
                    {
                        <form method="POST" action="/Friends/AcceptRequest" class="friendListForm">
                            <input type="hidden" name="PersonId" value="@loggedInPerson.Id" />
                            <input type="hidden" name="FriendResponseId" value="@person.Id" />
                            <input type="hidden" name="FriendName" value="@person.Name" />
                            <input type="hidden" name="link" value="@Request.Url.ToString()" />
                            <input type="submit" value="Response To Request" />
                        </form>
                        <form method="POST" action="/Friends/IgnoreRequest" class="friendListForm">
                            <input type="hidden" name="PersonId" value="@loggedInPerson.Id" />
                            <input type="hidden" name="FriendResponseId" value="@person.Id" />
                            <input type="hidden" name="link" value="@Request.Url.ToString()" />
                            <input type="submit" value="Ignore Request" />
                        </form>

                    }
                    else if (found == "foundFriend")
                    {
                        <input type="submit" value="Friend" />
                    }
                    else
                    {
                        <form method="POST" action="/Friends/AddFriend/">
                            <input type="hidden" name="PersonId" value="@loggedInPerson.Id" />
                            <input type="hidden" name="FriendRequestId" value="@person.Id" />
                            <input type="hidden" name="FriendName" value="@person.Name" />
                            <input type="hidden" name="link" value="@Request.Url.ToString()" />
                            <input type="submit" value="Add as Frind" />
                        </form>

                    }


                    @*<button type="submit">Friend</button>*@
                </p>
            </div>



            <div id="profilePosts">
                <div id="postStatus">
                    @using (Html.BeginForm())
                    {
                        @Html.TextAreaFor(a => a.Post)
                        @*<input type="text" name="Post"/>*@
                        <br />
                        <input type="submit" value="Post" id="statusButton" />
                    }
                </div>

                @foreach (var status in statusList)
                {
                    <div id="statusDiv">
                        <div id="staus">
                            <p>
                                <a href="/Profile/ShowProfile/@status.PersonId">@status.PersonName</a>
                                @if (status.PersonId == loggedInPerson.Id)
                                {
                                    <form action="/Status/DeletePost" method="post">
                                        <input type="hidden" name="id" value="@status.Id" />
                                        <input type="hidden" name="link" value="@Request.Url.ToString()" />
                                        <input type="submit" value="Delete Post" class="submitLink marginDelete" onclick="return confirm('Are you sure?')" />

                                    </form>
                                }
                            </p>
                            <p class="date">
                                @status.Date.ToString("d MMMM yyyy, HH:mm")
                            </p>
                            <p>@status.Post</p>
                        </div>
                        <div id="likeComment">

                            @*Like Section*@

                            @if (!likeCountOfSatus.ContainsKey(status.Id))
                            {
                                likeCount = "No one Liked this";
                            }
                            else
                            {
                                likeCount = likeCountOfSatus[status.Id] + "People Liked this";
                            }
                            @{bool liked = false;}
                            @foreach (var like in likedByPerson)
                            {
                                if (like.StatusId == status.Id)
                                {
                                    liked = true;
                                    break;
                                }
                            }
                            <div id="like">
                                @if (liked)
                                {
                                    <p class="likeCommentFont">
                                        <a href="/Status/DeleteLike?StatusId=@status.Id&PersonId=@loggedInPerson.Id&PersonName=@loggedInPerson.Name&link=@Request.Url.ToString()">
                                            Unlike
                                        </a>
                                        <a href="">@likeCount</a>
                                    </p>
                                }
                                else
                                {
                                    <p class="likeCommentFont likeMargin">
                                        <a href="/Status/SaveLike?StatusId=@status.Id&PersonId=@loggedInPerson.Id&PersonName=@loggedInPerson.Name&link=@Request.Url.ToString()">
                                            Like
                                        </a>
                                        <a href="">@likeCount</a>
                                    </p>

                                }
                            </div>
                            @*Comment Section*@


                            <p>
                                <div id="commentSection">
                                    @using (Ajax.BeginForm("GetComment", "Status", new AjaxOptions
                                        {
                                            HttpMethod = "post",
                                            InsertionMode = InsertionMode.ReplaceWith,
                                            UpdateTargetId = "commentSection"
                                        }))
                                    {
                                        @*<form action="/Status/GetComment/" method="post">*@
                                        <input type="hidden" name="StatusId" value="@status.Id" />
                                        @*<input type="hidden" name="link" value="@Request.Url.ToString()" />*@
                                <p><input type="submit" value="Read Comment" class="submitLink" /></p>
                                        @*</form>*@


                                    }
                                    @*<a href="" id="readComment">Read Comments</a>*@

                                </div>
                                </p>
                                <div id="postComment">
                                    <form method="POST" id="commentForm" action="/Status/SaveComment/">

                                        <p><input type="text" name="CommentDesc" /></p>
                                        <input type="hidden" name="StatusId" value="@status.Id" />
                                        <input type="hidden" name="PersonId" value="@loggedInPerson.Id" />
                                        <input type="hidden" name="PersonName" value="@loggedInPerson.Name" />
                                        <input type="hidden" name="link" value="@Request.Url.ToString()" />
                                        <p><input type="submit" value="Comment"></p>
                                    </form>

                                </div>
                            </div>
                        </div>
                }
            </div>
        </div>
        </div>

        <script src="~/Scripts/jquery-2.2.3.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#coverPicForm").hide();
                $("#profilePicFrom").hide();
                $("#changeProfilePic").show();

            });
            $("#changeCoverPic").click(function () {
                $("#changeCoverPic").hide();
                $("#coverPicForm").show();
            });
            $("#changeProfilePic").click(function () {
                $("#changeProfilePic").hide();
                $("#profilePicFrom").show();
            });
        </script>
    </body>
</html>
